In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Store filepath in a variable
file = Path("C:/Users/brian.stumm/Desktop/School-Bootcamp/Class_files/Project 3/FARS2021NationalCSV/accident.csv")
accidents_df = pd.read_csv(file, encoding="ANSI")
accidents_df.head(5)

,STATE,STATENAME,ST_CASE,PEDS,PERNOTMVIT,VE_TOTAL,VE_FORMS,PVH_INVL,PERSONS,PERMVIT,...,NOT_MINNAME,ARR_HOUR,ARR_HOURNAME,ARR_MIN,ARR_MINNAME,HOSP_HR,HOSP_HRNAME,HOSP_MN,HOSP_MNNAME,FATALS
0,1,Alabama,10001,0,0,2,2,0,3,3,...,13,22,10:00pm-10:59pm,25,25,23,11:00pm-11:59pm,2,2,2
1,1,Alabama,10002,0,0,1,1,0,2,2,...,Unknown,19,7:00pm-7:59pm,9,9,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),2
2,1,Alabama,10003,1,1,1,1,0,1,1,...,29,9,9:00am-9:59am,40,40,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1
3,1,Alabama,10004,0,0,1,1,0,1,1,...,20,16,4:00pm-4:59pm,28,28,99,Unknown,99,Unknown EMS Hospital Arrival Time,1
4,1,Alabama,10005,0,0,2,2,0,4,4,...,20,22,10:00pm-10:59pm,30,30,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1

In [3]:
# Remove unnecessary columns from the DataFrame and save the new DataFrame
trimed_df = accidents_df[["STATE", "STATENAME", "ST_CASE", "COUNTY", "COUNTYNAME", "MONTH","MONTHNAME", 
                      "DAY", "DAYNAME", "DAY_WEEK", "DAY_WEEKNAME", "YEAR", "HOUR", "HOURNAME", "MINUTE", 
                      "MINUTENAME", "LATITUDE", "LATITUDENAME", "LONGITUD", "LONGITUDNAME", "LGT_COND", 
                      "LGT_CONDNAME", "WEATHER", "WEATHERNAME", "FATALS"]]
trimed_df.head(10)

,STATE,STATENAME,ST_CASE,COUNTY,COUNTYNAME,MONTH,MONTHNAME,DAY,DAYNAME,DAY_WEEK,...,MINUTENAME,LATITUDE,LATITUDENAME,LONGITUD,LONGITUDNAME,LGT_COND,LGT_CONDNAME,WEATHER,WEATHERNAME,FATALS
0,1,Alabama,10001,115,ST. CLAIR (115),2,February,12,12,6,...,10,33.601642,33.601642,-86.312383,-86.312383,2,Dark - Not Lighted,2,Rain,2
1,1,Alabama,10002,73,JEFFERSON (73),2,February,11,11,5,...,0,33.541361,33.541361,-86.643744,-86.643744,2,Dark - Not Lighted,2,Rain,2
2,1,Alabama,10003,73,JEFFERSON (73),2,February,7,7,1,...,20,33.419797,33.419797,-86.752572,-86.752572,2,Dark - Not Lighted,2,Rain,1
3,1,Alabama,10004,117,SHELBY (117),2,February,3,3,4,...,20,33.360894,33.360894,-86.777139,-86.777139,1,Daylight,1,Clear,1
4,1,Alabama,10005,73,JEFFERSON (73),1,January,30,30,7,...,20,33.815208,33.815208,-86.825342,-86.825342,2,Dark - Not Lighted,10,Cloudy,1
5,1,Alabama,10006,1,AUTAUGA (1),1,January,28,28,5,...,15,32.513575,32.513575,-86.428244,-86.428244,1,Daylight,1,Clear,1
6,1,Alabama,10007,83,LIMESTONE (83),1,January,27,27,4,...,25,34.902494,34.902494,-86.905822,-86.905822,2,Dark - Not Lighted,1,Clear,1
7,1,Alabama,10008,125,TUSCALOOSA (125),1,January,23,23,7,...,44,33.165078,33.165078,-87.549997,-87.549997,3,Dark - Lighted,1,Clear,1
8,1,Alabama,10009,101,MONTGOMERY (101),1,January,17,17,1,...,32,32.366114,32.366114,-86.290356,-86.290356,3,Dark - Lighted,1,Clear,1
9,1,Alabama,10010,73,JEFFERSON (73),1,January,20,20,4,...,1,33.493758,33.493758,-86.704917,-86.704917,2,Dark - Not Lighted,2,Rain,1

In [4]:
# Rename the headers to be more explanatory
updated_df = trimed_df.rename(columns={"STATE": "State Code", "STATENAME": "State", "ST_CASE": "Case Number", 
                                "COUNTY": "County Code", "COUNTYNAME": "County", "MONTH": "Monthid",
                                "MONTHNAME": "Month", "DAY": "Day", "DAYNAME": "Day of Month", "DAY_WEEK": "Day of Week",
                                "DAY_WEEKNAME": "Weekday", "YEAR": "Year", "HOUR": "Hour", "HOURNAME": "Hour Range",
                                "MINUTE": "Minute", "MINUTENAME": "Minute Digit", "LATITUDE": "Latitude",
                                "LATITUDENAME": "Latitudeid", "LONGITUD": "Longitude", "LONGITUDNAME": "Longitudeid",
                                "LGT_COND": "Light Conditionid", "LGT_CONDNAME": "Light Condition", 
                                "WEATHER": "Weatherid", "WEATHERNAME": "Weather Condition", "FATALS": "Number of Deaths" })
updated_df.head(5)

,State Code,State,Case Number,County Code,County,Monthid,Month,Day,Day of Month,Day of Week,...,Minute Digit,Latitude,Latitudeid,Longitude,Longitudeid,Light Conditionid,Light Condition,Weatherid,Weather Condition,Number of Deaths
0,1,Alabama,10001,115,ST. CLAIR (115),2,February,12,12,6,...,10,33.601642,33.601642,-86.312383,-86.312383,2,Dark - Not Lighted,2,Rain,2
1,1,Alabama,10002,73,JEFFERSON (73),2,February,11,11,5,...,0,33.541361,33.541361,-86.643744,-86.643744,2,Dark - Not Lighted,2,Rain,2
2,1,Alabama,10003,73,JEFFERSON (73),2,February,7,7,1,...,20,33.419797,33.419797,-86.752572,-86.752572,2,Dark - Not Lighted,2,Rain,1
3,1,Alabama,10004,117,SHELBY (117),2,February,3,3,4,...,20,33.360894,33.360894,-86.777139,-86.777139,1,Daylight,1,Clear,1
4,1,Alabama,10005,73,JEFFERSON (73),1,January,30,30,7,...,20,33.815208,33.815208,-86.825342,-86.825342,2,Dark - Not Lighted,10,Cloudy,1

In [5]:
# Filter data to display only the state of North Carolina
ncstate_df = updated_df.loc[(updated_df["State Code"] == 37) , :]
ncstate_df.head(5)

,State Code,State,Case Number,County Code,County,Monthid,Month,Day,Day of Month,Day of Week,...,Minute Digit,Latitude,Latitudeid,Longitude,Longitudeid,Light Conditionid,Light Condition,Weatherid,Weather Condition,Number of Deaths
24857,37,North Carolina,370001,1,ALAMANCE (1),1,January,6,6,4,...,17,36.064589,36.064589,-79.523144,-79.523144,1,Daylight,1,Clear,1
24858,37,North Carolina,370002,1,ALAMANCE (1),1,January,17,17,1,...,40,36.097139,36.097139,-79.272444,-79.272444,1,Daylight,1,Clear,2
24859,37,North Carolina,370003,3,ALEXANDER (3),1,January,2,2,7,...,16,36.026417,36.026417,-81.189797,-81.189797,2,Dark - Not Lighted,5,"Fog, Smog, Smoke",1
24860,37,North Carolina,370004,3,ALEXANDER (3),1,January,9,9,7,...,12,35.902472,35.902472,-81.243419,-81.243419,2,Dark - Not Lighted,1,Clear,1
24861,37,North Carolina,370005,7,ANSON (7),1,January,3,3,1,...,6,35.087317,35.087317,-80.223214,-80.223214,2,Dark - Not Lighted,2,Rain,1

In [6]:
ncstate_df.count()

State Code           1535
State                1535
Case Number          1535
County Code          1535
County               1535
Monthid              1535
Month                1535
Day                  1535
Day of Month         1535
Day of Week          1535
Weekday              1535
Year                 1535
Hour                 1535
Hour Range           1535
Minute               1535
Minute Digit         1535
Latitude             1535
Latitudeid           1535
Longitude            1535
Longitudeid          1535
Light Conditionid    1535
Light Condition      1535
Weatherid            1535
Weather Condition    1535
Number of Deaths     1535
dtype: int64

In [ ]:
# Push the North Carolina DataFrame to a new CSV file
renamed_df.to_csv("NorthCarolina_Accidents.csv",
                  encoding="utf-8", index=False, header=True)